<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #users {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/users/register}" th:object="${user}">
        <table>
            <tr>
                <td>
                    <input placeholder="username" th:field="*{username}" type="text">
                </td>
                <td>
                    <input placeholder="password" th:field="*{password}" type="password">
                </td>
                <td>
                    <input type="submit" value="register">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/users/remove}">
        <table>
            <tr>
                <td>
                    <input placeholder="id number" th:name="userIdToRemove" type="text">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>


    <table id="users">
        <tr>
            <th>id</th>
            <th>username</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
        </tr>
    </table>
    <a th:href="@{'/login'}">Go back to login page</a>
</div>
</body>
</html>